<template>
  <div class="app-container">
		<div class="handle-box">
			<el-button type="primary" icon="delete"
			 class="handle-del mr10" @click="addRole">新增</el-button>
			<el-button type="primary" icon="search" @click="search()">搜索</el-button>
		</div>
    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row>
      <el-table-column align="center" label="序号" width="95">
        <template slot-scope="scope">
          {{ scope.$index+1 }}
        </template>
      </el-table-column>
			<el-table-column label="角色名称">
				<template slot-scope="scope">
					{{ scope.row.name }}
				</template>
			</el-table-column>
      <el-table-column label="角色描述">
        <template slot-scope="scope">
          {{ scope.row.description }}
        </template>
      </el-table-column>
			<el-table-column label="角色权限">
				<template slot-scope="scope">
					<el-button size="small" type="small" 
					@click="handleSecurity(scope.row.id,scope.row.menuCodes)">配置</el-button>
				</template>
			</el-table-column>
			<el-table-column label="数据权限">
				<template slot-scope="scope">
					{{ scope.row.secured }}
				</template>
			</el-table-column>
			
      <el-table-column label="操作"  min-width="160">
				<template slot-scope="scope">
					<el-button size="small" @click="handleEdit(
					scope.row.id,scope.row.name,scope.row.description,
					scope.row.secured)">编辑</el-button>
					<el-button size="small" type="danger" 
					@click="handleDelete(scope.row.id)">删除</el-button>
				</template>
			</el-table-column>
    </el-table>
		<div class="pagination">
      <el-pagination 
				@current-change="handleCurrentChange" layout="prev, pager, next" :total="total"
				:current-page.sync="cur_page" v-if="paginationShow">
      </el-pagination>
    </div>
		<!-- 权限配置弹出框 -->
		<el-dialog title="权限配置" :visible.sync="treeVisible" width="37%">
			<el-tree :props="props"
							:data="treeData"
							:default-checked-keys="checkedKeys"
							node-key="id"
							ref="tree"
							show-checkbox
							highlight-current
							@check-change="handleCheckChange">
							</el-tree>
			<span slot="footer" class="dialog-footer">
				<el-button @click="treeVisible = false">取 消</el-button>
				<el-button type="primary" @click="saveSecurity()">确 定</el-button>
			</span>
			</el-dialog>
		
		<!-- 编辑弹出框 -->
    <el-dialog title="编辑" :visible.sync="editVisible" width="37%">
      <el-form ref="form" :model="form" label-width="100px">
			<el-form-item label="角色名称">
				<el-input v-model="form.name"></el-input>
			</el-form-item>
			<el-form-item label="角色描述">
				<el-input type="textarea" v-model="form.description"></el-input>
			</el-form-item>
      <el-form-item label="数据权限">
				<el-input v-model="form.secured"></el-input>
			</el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveRow()">确 定</el-button>
      </span>
      </el-dialog>

        <!-- 删除提示框 -->
        <el-dialog title="提示" :visible.sync="delVisible" width="300px" center>
            <div class="del-dialog-cnt">删除不可恢复，是否确定删除？</div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="delVisible = false">取 消</el-button>
                <el-button type="primary" @click="deleteRow">确 定</el-button>
            </span>
        </el-dialog>
  </div>
</template> 

<script>
import { Message } from 'element-ui'
import { baseURL } from '@/main';
import { getAllMenuList } from '@/api/menu'
import { pageRole,saveRole,deleteRole,saveSecurity } from '@/api/role'

export default {
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  data() {
    return {
			props: {
				label: 'name',
				children: 'children'
			},
			treeData:[],
			treeVisible:false,
			checkedKeys:[],
			delVisible:false,
			id:'',
			editVisible:false,
      list: null,
      listLoading: true,
			total: 0,
			cur_page: 1,
			paginationShow:true,
			form: {
				id:'',
				name: '',
				description: '',
				secured: 0
			},
			deptList:[],
			menu_codes:'',
			menuList:[]
    }
  },
  created() {
    this.getData()
		getAllMenuList().then(res=>{
			if(res.code=='200'){
				this.menuList = res.data;
				this.treeData = this.formatTreeData('');
			}
		});
  },
  methods: {
		formatTreeData(parentCode){
			var result = [];
			for(var i in this.menuList){
				let{
					id,code,title,icon,path,secondPath,component,redirect,isdelete
				}=this.menuList[i];
				if(code.startsWith(parentCode) && code.length == parentCode.length+2){
					var treeCode = {};
					treeCode.id=code;
					treeCode.name=title;
					treeCode.children = this.formatTreeData(code);
					result.push(treeCode);
				}
			}
			return result;
		},
		handleCurrentChange(val){
			this.cur_page = val;
			this.getData();
		},
		saveSecurity(){
			var checkedKeys = this.$refs.tree.getCheckedKeys(true);
			var params = {};
			params.id=this.id;
			params.codes=checkedKeys.join(',');
			saveSecurity(params).then(res=>{
				if(res.code=='200'){
					Message({
						message: res.msg,
						type: 'success'
					})
					this.treeVisible=false;
					this.search();
				}else{
					Message({
						message: res.msg,
						type: 'error'
					})
				}
			});
		},
		handleSecurity(id,menuCodes){
			this.treeVisible=true;
			this.id=id;
			this.checkedKeys=[];
			var menuCodesStr = menuCodes.split(',');
			menuCodesStr.sort(function(obj1,obj2){
				if(obj1<obj2){
					return -1;
				}else if(obj1>obj2){
					return 1;
				}else{
					return 0;
				}
			});
			for(var index=0;index<menuCodesStr.length;index++){
				if(index+1<menuCodesStr.length){
					var nextCode = menuCodesStr[index+1];
					var currentCode = menuCodesStr[index];
					if(nextCode.startsWith(currentCode)){
						menuCodesStr.splice(index,1);
						index--;
					}
				}
				}
			for(var i in menuCodesStr){
				if(menuCodesStr[i] != ''){
					this.checkedKeys.push(menuCodesStr[i]);
				}
			}
			this.$refs.tree.setCheckedKeys(this.checkedKeys);
		},
		getData() {
			var that = this;
			that.paginationShow=false;
			var params={};
			params.pageNumber = this.cur_page;
			params.pageSize = 10;
			pageRole(params).then(res=>{
				that.list=res.data.page;
				that.total=res.data.total;
				that.paginationShow=true;
				that.listLoading = false
			});
		},
		search(){
			this.cur_page = 1;
			this.getData();
		},
		handleCheckChange(data, checked, indeterminate) {
		      },
		addRole(){
			this.form.id='';
			this.form.name='';
			this.form.description='';
			this.form.secured='';
			this.editVisible=true;
		},
		saveRow(){
			saveRole(this.form).then(res=>{
				if(res.code=='200'){
					Message({
						message: res.msg,
						type: 'success'
					})
					this.editVisible=false;
					this.search();
				}else{
					Message({
						message: res.msg,
						type: 'error'
					})
				}
			});
		},
		deleteRow(){
			var params = {};
			params.id = this.id;
			deleteRole(params).then(res=>{
				if(res.code=='200'){
					Message({
						message: res.msg,
						type: 'success'
					})
					this.delVisible=false;
					this.search();
				}else{
					Message({
						message: res.msg,
						type: 'error'
					})
				}
			});
		},
		handleEdit(id,name,description,secured){
			this.form.id=id;
			this.form.name=name;
			this.form.description=description;
			this.form.secured=secured;
			this.editVisible=true;
		},
		handleDelete(id){
			this.id=id;
			this.delVisible=true;
		}
  }
}
</script>
<style scoped>
    .handle-box {
        margin-bottom: 20px;
    }

    .handle-select {
        width: 120px;
    }

    .handle-input {
        width: 300px;
        display: inline-block;
    }
    .del-dialog-cnt{
        font-size: 16px;
        text-align: center
    }
</style>