<template>
  <el-scrollbar wrap-class="scrollbar-wrapper">
    <el-menu
      :default-active="$route.path"
      :collapse="isCollapse"
      :background-color="variables.menuBg"
      :text-color="variables.menuText"
      :active-text-color="variables.menuActiveText"
      :collapse-transition="false"
      mode="vertical"
    >
      <sidebar-item v-for="route in routes" :key="route.path" :item="route" :base-path="route.path"/>
    </el-menu>
  </el-scrollbar>
</template>

<script>
import { mapGetters } from 'vuex'
import variables from '@/styles/variables.scss'
import SidebarItem from './SidebarItem'
import { getCurrentMenuList } from '@/api/menu'
import Layout from '@/views/layout/Layout'

export default {
  components: { SidebarItem },
  computed: {
    ...mapGetters([
      'sidebar'
    ]),
    routes() {
			//this.getRoutes();
			//console.info(this.$router.options.routes);
      //return this.$router.options.routes
			return this.$store.state.routes;
    },
    variables() {
      return variables
    },
    isCollapse() {
      return !this.sidebar.opened
    }
  },
	methods:{
		getRoutes(){
			let result = [];
			/*
			result.append(
			{ path: '/login', component: () => import('@/views/login/index'), hidden: true }
			);
			result.append(
			{ path: '/404', component: () => import('@/views/404'), hidden: true }
			);
			result.append(
			{ path: '/', component: Layout, redirect: '/dashboard', name: 'Dashboard',
				hidden: true,
				children: [{
					path: 'dashboard',
					component: () => import('@/views/dashboard/index')
				}]
			}
			);
			result.append(
			{ path: '*', redirect: '/404', hidden: true }
			);*/
			getCurrentMenuList().then(res=>{
				
			});
			console.info(result);
			return result;
		}
	}
}
</script>
