<template>
  <el-table :data="list" style="width: 100%;padding-top: 15px;">
    <el-table-column label="Order_No" min-width="200">
      <template slot-scope="scope">
        {{ scope.row.order_no | orderNoFilter }}
      </template>
    </el-table-column>
    <el-table-column label="Price" width="195" align="center">
      <template slot-scope="scope">
        ¥{{ scope.row.price | toThousandFilter }}
      </template>
    </el-table-column>
    <el-table-column label="Status" width="100" align="center">
      <template slot-scope="{row}">
        <el-tag :type="row.status | statusFilter">
          {{ row.status }}
        </el-tag>
      </template>
    </el-table-column>
  </el-table>
</template>

<script>
import { transactionList } from '@/api/remoteSearch'

export default {
  filters: {
    statusFilter(status) {
      const statusMap = {
        success: 'success',
        pending: 'danger'
      }
      return statusMap[status]
    },
    orderNoFilter(str) {
      return str.substring(0, 30)
    }
  },
  data() {
    return {
      list: [{
			"order_no": "ecC51dBe-CF81-0C4f-5dd5-ecB6E3e76747",
			"timestamp": 1048507185917,
			"username": "William Clark",
			"price": 12453.5,
			"status": "success"
		}, {
			"order_no": "2AE872Af-631b-Ee73-EAd2-B3C4Cc20B79c",
			"timestamp": 1048507185917,
			"username": "Kimberly Martinez",
			"price": 4146.43,
			"status": "success"
		}, {
			"order_no": "6Fad986b-D1c6-6288-cbb5-E2c420fcBFb7",
			"timestamp": 1048507185917,
			"username": "David Williams",
			"price": 7799.6,
			"status": "success"
		}, {
			"order_no": "fa32BFe6-65d8-f1b9-246e-44b442426f99",
			"timestamp": 1048507185917,
			"username": "Lisa Miller",
			"price": 6275.4,
			"status": "success"
		}, {
			"order_no": "C8eC77f3-823c-3b7D-4491-Fe4feFD4e7bA",
			"timestamp": 1048507185917,
			"username": "Joseph Miller",
			"price": 10201.7,
			"status": "pending"
		}, {
			"order_no": "CeFC7E3f-b7fC-248F-a6d7-cDDFeD9A14C3",
			"timestamp": 1048507185917,
			"username": "Sarah Jackson",
			"price": 10681.8,
			"status": "pending"
		}, {
			"order_no": "EC98Dd9f-4Cc9-5348-cBFF-56c7CAA5c7E4",
			"timestamp": 1048507185917,
			"username": "Michael Davis",
			"price": 3988.2,
			"status": "success"
		}, {
			"order_no": "CeAAE5cA-5Feb-5836-fffb-FC9e1eA9F267",
			"timestamp": 1048507185917,
			"username": "Shirley Martinez",
			"price": 4260.11,
			"status": "pending"
		}]
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    fetchData() {
      //transactionList().then(response => {
        //this.list = response.data.items.slice(0, 8)
      //})
    }
  }
}
</script>
