<template>
  <div class="app-container">
		<p>
		elementui组件官方文档：
		<a href="https://element.eleme.cn/#/zh-CN/component/installation"
		target="blank">
		<font color = "blue">
		https://element.eleme.cn/#/zh-CN/component/installation
		</font>
		</a>
		</p>
    <el-form ref="form" :model="form" label-width="120px">
			<el-form-item label="员工编号">
				<el-input v-model="form.number"/>
			</el-form-item>
      <el-form-item label="员工姓名">
        <el-input v-model="form.name"/>
      </el-form-item>
			<el-form-item label="性别">
				<el-radio v-model="form.sex" label="0">男</el-radio>
				<el-radio v-model="form.sex" label="1">女</el-radio>
			</el-form-item>
      <el-form-item label="所在部门">
        <el-select v-model="form.deptName" placeholder="请选择部门">
					<el-option v-for="item in deptList"
					:key="item.name" :label="item.name" :value="item.name">
					</el-option>
        </el-select>
      </el-form-item>
			<el-form-item label="所在部门(多选)">
				<el-select v-model="form.deptNames" multiple placeholder="请选择部门">
					<el-option v-for="item in deptList"
					:key="item.name" :label="item.name" :value="item.name">
					</el-option>
				</el-select>
			</el-form-item>
			<el-form-item label="兴趣爱好">
				<el-checkbox-group v-model="form.checkList">
					<el-checkbox label="复选框 A"></el-checkbox>
					<el-checkbox label="复选框 B"></el-checkbox>
					<el-checkbox label="复选框 C"></el-checkbox>
					<el-checkbox label="禁用" disabled></el-checkbox>
					<el-checkbox label="选中且禁用" disabled></el-checkbox>
				</el-checkbox-group>
			</el-form-item>
			<el-form-item label="默认时间选择器">
				<el-date-picker
      v-model="form.value1"
      type="datetimerange"
      range-separator="至"
      start-placeholder="开始日期"
      end-placeholder="结束日期">
    </el-date-picker>
			</el-form-item>
			<el-form-item label="带快捷选项">
				<el-date-picker
      v-model="form.value2"
      type="datetimerange"
      :picker-options="form.pickerOptions"
      range-separator="至"
      start-placeholder="开始日期"
      end-placeholder="结束日期"
      align="right">
    </el-date-picker>
			</el-form-item>
			<el-form-item label="备注">
				<el-input v-model="form.remark" type="textarea" rows="5"/>
			</el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSubmit">保存</el-button>
        <el-button @click="onCancel">重置</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { getDeptList } from '@/api/dept'
import { saveEmployee } from '@/api/employee'
	
export default {
  data() {
    return {
      form: {
        number: '',
        name: '',
        deptName: '',
				deptNames:[],
        basePay: 0,
        bonus: 0,
        housingAllowance: 100,
				sex:"0",
				remark:"",
				checkList:['选中且禁用','复选框 A'],
				checkboxGroup:["上海","深圳"],
				pickerOptions: {
          shortcuts: [{
            text: '最近一周',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        },
        value1: [new Date(), new Date()],
        value2: ''
      },
			deptList:[]
    }
  },
	created() {
		getDeptList().then(res=>{
			console.info(res);
			if(res.code=='200'){
				this.deptList=res.data;
			}
		});
	},
  methods: {
    onSubmit() {
			this.$message({message:'保存成功!',type:'success'});
			/*saveEmployee(this.form).then(res=>{
				if(res.code=='200'){
					this.$message({message:'保存成功!',type:'success'});
				}else{
					this.$message({message:res.msg,type:'error'});
				}
			});*/
      
    },
    onCancel() {
			this.$message({message:'重置成功!',type:'grey'});
      /*this.$message({
        message: 'cancel!',
        type: 'warning'
      })*/
			/*this.form.number='';
			this.form.name='';
			this.form.deptName='';
			this.form.basePay=0;
			this.form.bonus=0;
			this.form.housingAllowance=100;
			this.$message({
				message: '重置成功!',
				type: 'success'
			})*/
    }
  }
}
</script>

<style scoped>
.line{
  text-align: center;
}
</style>

