<template>
  <div class="components-container">

    <!--<pan-thumb :image="image" />-->
		<div style="height:400px">
		<img :src="image" width="200px" height="200px" style="border-radius:50%"/>

    <el-button type="primary" icon="upload" style="bottom: 15px;margin-left: 40px;"
		 @click="imagecropperShow=true">
      上传头像
    </el-button>
		</div>
    <image-cropper
      v-show="imagecropperShow"
      :key="imagecropperKey"
      :width="200"
      :height="200"
      
      lang-type="zh"
      @close="close"
      @crop-upload-success="cropSuccess"
    />
  </div>
</template>

<script>
import ImageCropper from '@/components/ImageCropper'
import PanThumb from '@/components/PanThumb'
import { getInfo } from '@/api/login'
import { updateHeadurl } from '@/api/user'
import { bus } from '@/main'

export default {
  name: 'AvatarUploadDemo',
  components: { ImageCropper, PanThumb },
  data() {
    return {
      imagecropperShow: false,
      imagecropperKey: 0,
      image: ''
    }
  },
	created(){
		getInfo().then(res=>{
			if(res.code=='200'){
				this.image=res.data.headurl;
			}
		});
	},
  methods: {
    cropSuccess(resData) {
      this.imagecropperShow = false
      this.imagecropperKey = this.imagecropperKey + 1
      this.image = resData;
			this.uploadHeadurl();
    },
		uploadHeadurl() {
			//let formData = new FormData();
			//formData.append('headurl',this.image);
			updateHeadurl(this.image).then(res=>{
				if(res.code=='200'){
					this.$message({message:'上传成功!',type:'success'});
					//调用事件
					bus.$emit('globalUpdateHeadurl');
				}
			});
		},
    close() {
      this.imagecropperShow = false
    }
  }
}
</script>

<style scoped>
  .avatar{
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }
	.components-container{
		padding:30px;
	}
</style>

