<template>
  <div class="app-container">
		<div class="handle-box">
			<el-button type="primary" icon="delete"
			 class="handle-del mr10" @click="addEmployee">新增</el-button>
			<el-input v-model="keyWord" 
			placeholder="筛选关键词(编号或姓名)" class="handle-input mr10"></el-input>
			<el-select v-model="deptName" placeholder="所在部门"
        class="handle-select mr10" @change="search">
					<el-option key="" label="全部" value="all"></el-option>
          <el-option v-for="item in deptList"
           :key="item.name" :label="item.name"
					 :value="item.name"></el-option>
      </el-select>
			<el-button type="primary" icon="search" @click="search()">搜索</el-button>
			<el-button type="primary" icon="search" @click="exportExcel()">导出</el-button>
		</div>
    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row>
      <el-table-column align="center" label="序号" width="95">
        <template slot-scope="scope">
          {{ scope.$index+1 }}
        </template>
      </el-table-column>
			<el-table-column label="员工编号">
				<template slot-scope="scope">
					{{ scope.row.number }}
				</template>
			</el-table-column>
      <el-table-column label="员工姓名">
        <template slot-scope="scope">
          {{ scope.row.name }}
        </template>
      </el-table-column>
			<el-table-column label="所在部门">
				<template slot-scope="scope">
					{{ scope.row.deptName }}
				</template>
			</el-table-column>
			<el-table-column label="基本工资">
				<template slot-scope="scope">
					{{ scope.row.basePay }}
				</template>
			</el-table-column>
			<el-table-column label="奖金">
				<template slot-scope="scope">
					{{ scope.row.bonus }}
				</template>
			</el-table-column>
			<el-table-column label="住房补助">
				<template slot-scope="scope">
					{{ scope.row.housingAllowance }}
				</template>
			</el-table-column>
			<el-table-column label="实发工资">
				<template slot-scope="scope">
					{{ scope.row.basePay+scope.row.bonus+scope.row.housingAllowance }}
				</template>
			</el-table-column>
      <el-table-column label="操作"  min-width="160">
				<template slot-scope="scope">
					<el-button size="small" @click="handleEdit(
					scope.row.id,scope.row.number,scope.row.name,scope.row.deptName,
					scope.row.basePay,scope.row.bonus,scope.row.housingAllowance
					)">编辑</el-button>
					<el-button size="small" type="danger" 
					@click="handleDelete(scope.row.id)">删除</el-button>
				</template>
			</el-table-column>
    </el-table>
		<div class="pagination">
      <el-pagination 
				@current-change="handleCurrentChange" layout="prev, pager, next" :total="total"
				:current-page.sync="cur_page" v-if="paginationShow">
      </el-pagination>
    </div>
		<!-- 编辑弹出框 -->
    <el-dialog title="编辑" :visible.sync="editVisible" width="37%">
      <el-form ref="form" :model="form" label-width="100px">
			<el-form-item label="员工编号">
				<el-input v-model="form.number"></el-input>
			</el-form-item>
			<el-form-item label="员工姓名">
				<el-input v-model="form.name"></el-input>
			</el-form-item>
      <el-form-item label="所在部门">
				<el-select v-model="form.deptName" placeholder="请选择部门"
				 class="handle-select mr10" style="width:150px">
					<el-option v-for="item in deptList"
						:key="item.name" :label="item.name"
						:value="item.name"></el-option>
				</el-select>
			</el-form-item>
			<el-form-item label="基本工资">
				<el-input v-model="form.basePay"></el-input>
			</el-form-item>
			<el-form-item label="奖金">
				<el-input v-model="form.bonus"></el-input>
			</el-form-item>
			<el-form-item label="住房补助">
				<el-input v-model="form.housingAllowance"></el-input>
			</el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveRow()">确 定</el-button>
      </span>
      </el-dialog>

        <!-- 删除提示框 -->
        <el-dialog title="提示" :visible.sync="delVisible" width="300px" center>
            <div class="del-dialog-cnt">删除不可恢复，是否确定删除？</div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="delVisible = false">取 消</el-button>
                <el-button type="primary" @click="deleteRow">确 定</el-button>
            </span>
        </el-dialog>
  </div>
</template> 

<script>
import { getList } from '@/api/table'
import { getDeptList } from '@/api/dept'
import { saveEmployee,deleteEmployee } from '@/api/employee'
import { Message } from 'element-ui'
import { baseURL } from '@/main';

export default {
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  data() {
    return {
			delVisible:false,
			id:'',
			editVisible:false,
      list: null,
      listLoading: true,
			total: 0,
			cur_page: 1,
			paginationShow:true,
			form: {
				id:'',
				number: '',
				name: '',
				deptName: '',
				basePay: 0,
				bonus: 0,
				housingAllowance: 100,
			},
			deptList:[],
			deptName:'',
			keyWord:''
    }
  },
  created() {
    this.getData()
		getDeptList().then(res=>{
			if(res.code=='200'){
				this.deptList=res.data;
			}
		});
  },
  methods: {
    fetchData() {
      this.listLoading = true
      getList(this.listQuery).then(response => {
        this.list = response.data.items
        this.listLoading = false
      })
    },
		handleCurrentChange(val){
			this.cur_page = val;
			this.getData();
		},
		getData() {
			var that = this;
			that.paginationShow=false;
			getList(that.cur_page,10,that.keyWord,that.deptName).then(res=>{
				that.list=res.data.page;
				that.total=res.data.total;
				that.paginationShow=true;
				that.listLoading = false
			});
		},
		search(){
			this.cur_page = 1;
			this.getData();
		},
		exportExcel(){
			window.open(baseURL+'/excel/excelDownloadEmployee?keyWord='
			+this.keyWord+'&deptName='+this.deptName);
		},
		addEmployee(){
			this.form.id='';
			this.form.number='';
			this.form.name='';
			this.form.deptName='';
			this.form.basePay=0;
			this.form.bonus=0;
			this.form.housingAllowance=100;
			this.editVisible=true;
		},
		saveRow(){
			saveEmployee(this.form).then(res=>{
				if(res.code=='200'){
					Message({
						message: res.msg,
						type: 'success'
					})
					this.editVisible=false;
					this.search();
				}else{
					Message({
						message: res.msg,
						type: 'error'
					})
				}
			});
		},
		deleteRow(){
			deleteEmployee(this.id).then(res=>{
				if(res.code=='200'){
					Message({
						message: res.msg,
						type: 'success'
					})
					this.delVisible=false;
					this.search();
				}else{
					Message({
						message: res.msg,
						type: 'error'
					})
				}
			});
		},
		handleEdit(id,number,name,deptName,basePay,bonus,housingAllowance){
			this.form.id=id;
			this.form.number=number;
			this.form.name=name;
			this.form.deptName=deptName;
			this.form.basePay=basePay;
			this.form.bonus=bonus;
			this.form.housingAllowance=housingAllowance;
			this.editVisible=true;
		},
		handleDelete(id){
			this.id=id;
			this.delVisible=true;
		}
  }
}
</script>
<style scoped>
    .handle-box {
        margin-bottom: 20px;
    }

    .handle-select {
        width: 120px;
    }

    .handle-input {
        width: 300px;
        display: inline-block;
    }
    .del-dialog-cnt{
        font-size: 16px;
        text-align: center
    }
</style>