<template>
	<div style="padding:20px;position:relative">
	<editor id="tinymce" v-model="value" :init="init"></editor>
	<div class="editor-custom-btn-container">
		<editorImage color="#1890ff" class="editor-upload-btn" @successCBK="imageSuccessCBK" />
	</div>
	</div>
</template>
<script>
import tinymce from 'tinymce/tinymce'
import Editor from '@tinymce/tinymce-vue'
import 'tinymce/themes/silver/theme'
import 'tinymce/plugins/lists'
import 'tinymce/plugins/image'
import 'tinymce/plugins/media'
import 'tinymce/plugins/table'
import 'tinymce/plugins/textcolor'
import 'tinymce/plugins/wordcount'
import 'tinymce/plugins/contextmenu'
import editorImage from './components/editorImage'
export default {
	components:{ Editor,editorImage },
	props:{
		value: {
			type: String,
			default: ''
		},
		disabled: {
			type: Boolean,
			default: false
		},
		plugins: {
			type: [String, Array],
			default: 'lists image table textcolor wordcount contextmenu'
			//default: 'lists image media table textcolor wordcount contextmenu'
		},
		toolbar: {
			type: [String, Array],
			default: 'undo redo |  formatselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | lists image table | removeformat'
			//default: 'undo redo |  formatselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | lists image media table | removeformat'
		},
		height: {
		  type: Number,
		  required: false,
		  default: 400
		}
	},
	watch:{
		value(val){
			this.$emit('updateContent', val)
		}
	},
	data(){
		return{
			init:{
				language_url:'/static/tinymce/langs/zh_CN.js',
				language: 'zh_CN',
				skin_url:'/static/tinymce/skins',
				height:this.height,
				branding: false,//是否显示右下角Powered by TinyMCE
				menubar: true ,//是否显示顶部菜单栏
				plugins: this.plugins,
				toolbar: this.toolbar,
				/*images_upload_handler: (blobInfo, success, failure) => {
					//上传图片
					let formdata = new FormData()
					formdata.set('upload_file', blobInfo.blob())
					axios.post('/api/upload', formdata).then(res => {
						success(res.data.data.src)
					}).catch(res => {
						failure('error')
					})
				}*/
			}
		}
	},
	methods:{
		imageSuccessCBK(arr) {
			const _this = this
			arr.forEach(v => {
				_this.value=_this.value+`<img class="wscnph" src="${v.url}" >`;
				//window.tinymce.get(_this.tinymceId).insertContent(`<img class="wscnph" src="${v.url}" >`)
			})
		}
	}
}
</script>
<style scoped>
.editor-custom-btn-container {
  position: absolute;
  right: 24px;
  top: 24px;
  /*z-index: 2005;*/
}
</style>